This files contains all commands required in order to set up the DB locally for you.
Please change - 'username_and_password' variable in the next code section according to your local enviornment settings!!!

Import packages and start engine connection:

In [6]:
import pandas as pd
#import MySQLdb
import pymysql as mdb
mdb.install_as_MySQLdb()
#import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.sql import text

# Creating connection: "mysql://username:password@host:port"
# TODO: Change this according to your local settings!!!
username_and_password = 'root:ru,gcur'
engine = create_engine(f"mysql://{username_and_password}@localhost")
con = engine.connect()

dataset_dir = '../dataset/yelp_%s.csv'

Create the 'yelp' schema:

In [ ]:
con.execute('Create Schema yelp')

business table:

In [ ]:
business_df = pd.read_csv(dataset_dir % 'checkin', encoding='utf-8')
# Make needed changes to the DF:
business_df.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
con.execute(
  """
  CREATE TABLE yelp.business (
  id INT AUTO_INCREMENT PRIMARY KEY,
	business_id VARCHAR(22) NOT NULL, 
	name VARCHAR(66) NOT NULL, 
	neighborhood VARCHAR(40), 
	address VARCHAR(118) NOT NULL, 
	city VARCHAR(50), 
	state VARCHAR(3) NOT NULL, 
	postal_code VARCHAR(8), 
	latitude DECIMAL(38, 15) NOT NULL, 
	longitude DECIMAL(38, 18) NOT NULL, 
	stars FLOAT NOT NULL, 
	review_count INT NOT NULL, 
	is_open BOOL NOT NULL, 
	categories VARCHAR(286)
	)
  """
)

business_df.to_sql(
  con=con,
  schema='yelp',
  name='business',
  if_exists='append',
  index=False,
  index_label='id'
)

business_hours table:

In [ ]:
business_hours_df = pd.read_csv(dataset_dir % 'business_hours', encoding='utf-8')
# Make needed changes to the DF:
business_hours_df.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
con.execute(
  """
  CREATE TABLE yelp.business_hours (
  id INT AUTO_INCREMENT PRIMARY KEY,
	business_id VARCHAR(22) NOT NULL, 
	monday VARCHAR(11), 
	tuesday VARCHAR(11), 
	wednesday VARCHAR(11), 
	thursday VARCHAR(11), 
	friday VARCHAR(11), 
	saturday VARCHAR(11), 
	sunday VARCHAR(11)
	)
  """
)

business_hours_df.to_sql(
  con=con,
  schema='yelp',
  name='business_hours',
  if_exists='append',
  index=False,
  index_label='id'
)

checkin table:

In [10]:
checkin_df = pd.read_csv(dataset_dir % 'checkin', encoding='utf-8')
# Make needed changes to the DF:
checkin_df.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
con.execute(
  """
  CREATE TABLE yelp.checkin (
  id INT AUTO_INCREMENT PRIMARY KEY,
	business_id VARCHAR(22) NOT NULL, 
	weekday VARCHAR(3) NOT NULL, 
	hour TIME NOT NULL, 
	checkins INT NOT NULL
	)
  """
)

checkin_df.to_sql(
  con=con,
  schema='yelp',
  name='checkin',
  if_exists='append',
  index=False,
  index_label='id'
)

review table:

In [15]:
review_df = pd.read_csv(dataset_dir % 'review', encoding='utf-8')
review_df.head()
# Make needed changes to the DF:
review_df.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
review_df.drop_duplicates('id', inplace=True)

con.execute(
  """
  CREATE TABLE yelp.review (
  id INT AUTO_INCREMENT PRIMARY KEY,
	review_id VARCHAR(22) NOT NULL, 
	user_id VARCHAR(22) NOT NULL, 
	business_id VARCHAR(22) NOT NULL, 
	stars INT NOT NULL, 
	date DATE NOT NULL, 
	text VARCHAR(5010) NOT NULL, 
	useful INT NOT NULL, 
	funny INT NOT NULL, 
	cool INT NOT NULL
	)
  """
)

review_df.to_sql(
  con=con,
  schema='yelp',
  name='review',
  if_exists='append',
  index=False,
  index_label='id'
)

(100000, 10)
(100000, 10)

tip table:

In [20]:
tip_df = pd.read_csv(dataset_dir % 'tip', encoding='utf-8')
tip_df.head()
# Make needed changes to the DF:
tip_df.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
con.execute(
  """
  CREATE TABLE yelp.tip (
  id INT AUTO_INCREMENT PRIMARY KEY,
	text VARCHAR(510), 
	date DATE NOT NULL, 
	likes DECIMAL(38, 0) NOT NULL, 
	business_id VARCHAR(22) NOT NULL, 
	user_id VARCHAR(22) NOT NULL
	)
  """
)

tip_df.to_sql(
  con=con,
  schema='yelp',
  name='tip',
  if_exists='append',
  index=False,
  index_label='id'
)

user table:

In [21]:
user_df = pd.read_csv(dataset_dir % 'user', encoding='utf-8')
user_df.head()
# Make needed changes to the DF:
user_df.rename(columns={'Unnamed: 0': 'id'}, inplace=True)

con.execute(
  """
  CREATE TABLE yelp.user (
  id INT AUTO_INCREMENT PRIMARY KEY,
	user_id VARCHAR(22) NOT NULL,
	name VARCHAR(33),
	review_count INT NOT NULL,
	yelping_since DATE NOT NULL,
	friends MEDIUMTEXT,
	useful INT NOT NULL,
	funny INT NOT NULL,
	cool INT NOT NULL,
	fans INT NOT NULL,
	elite MEDIUMTEXT,
	average_stars FLOAT NOT NULL,
	compliment_hot INT NOT NULL,
	compliment_more INT NOT NULL,
	compliment_profile INT NOT NULL,
	compliment_cute INT NOT NULL,
	compliment_list INT NOT NULL,
	compliment_note INT NOT NULL,
	compliment_plain INT NOT NULL,
	compliment_cool INT NOT NULL,
	compliment_funny INT NOT NULL,
	compliment_writer INT NOT NULL,
	compliment_photos INT NOT NULL
	)
  """
)

user_df.to_sql(
  con=con,
  schema='yelp',
  name='user',
  if_exists='append',
  index=False,
  index_label='id'
)

,id,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,989862,anJu4pBUwtHoaAqVNvenCQ,Jenny,28,2011-01-30,"cYNnd7SlctWcof-DSmOo7A, U79q2W7iQZZCs6vNMtHRVw...",12,3,2,0,...,0,0,0,0,3,2,1,1,0,0
1,884717,pG5rHWBCdCS8OInOZLUaWA,Gerald,6,2015-07-26,None,14,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1011140,PT8E0lY79TZfwaFiMjbY3g,Mike,34,2013-02-02,ZTHQDqZbQ3WFRhk8beR0ag,9,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,643218,syBMf0W6n04zO-0Ty97XGw,B,16,2015-08-21,None,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1212232,us_wEyUkDDcBRbFq7RtcQw,Julia,8,2012-01-22,"TAfd_TM1W7LsuHJZS2XyCg, 7Kf7MpDcgH7xStIPIQCTcg...",9,0,0,1,...,0,0,0,0,0,0,0,0,0,0