This file contains all of the code required to answer our business questions:

In [1]:
import pandas as pd
#import MySQLdb
import pymysql as mdb
mdb.install_as_MySQLdb()
#import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.sql import text

# Creating connection: "mysql://username:password@host:port"
# TODO: Change this according to your local settings!!!
username_and_password = 'root:ru,gcur'
engine = create_engine(f"mysql://{username_and_password}@localhost")
con = engine.connect()

Business Question #1:
Who are the elite

Business Question #2:
Which states had the highest volume of activity during the year 2017?

Business Question #3:
Is there a corrlation between the length of the review and the number of votes it gets, for reviews performed on businesses ranked 4 stars and above during the year 2017?

In [2]:
question_3_query = """
  SELECT 
      text_length, sum_votes
  FROM
      yelp_dw.review_facts
          JOIN
      yelp_dw.year_dim ON review_facts.year_id = year_dim.year_id
      JOIN
      yelp_dw.vote_dim ON review_facts.vote_id = vote_dim.vote_id
          JOIN
      yelp_dw.business_dim ON review_facts.business_id = business_dim.business_id
  WHERE
      year = 2017 AND
      stars >= 4
      
  ORDER BY text_length DESC, sum_votes DESC
"""
q3_query = pd.read_sql_query(question_3_query, con)
q3_df = pd.DataFrame(q3_query)
q3_df

      text_length  sum_votes
0            4970          7
1            4949         21
2            4948          0
3            4892          7
4            4781          2
...           ...        ...
7512           56          0
7513           55          6
7514           54          0
7515           53          0
7516           31          0

[7517 rows x 2 columns]